* {
    margin: 0;
    font-family: sans-serif;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.nav-logo {
    width: 100px;
    height: 80px;
}
.logo {
    width: 100px;
    height: 70px;
    background-image: url("logo.jpeg");
    background-size: cover;
}
.book-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 22px;
}
.book-second {
    font-size: 1rem;
    margin-left: 3px;
}
.book-icon {
    display: flex;
    align-items: center;
}
.call-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 22px;
}
.call-second {
    font-size: 1rem;
    margin-left: 3px;
}
.call-icon {
    display: flex;
    align-items: center;
}
.email-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 22px;
}
.email-second {
    font-size: 1rem;
    margin-left: 3px;
}
.email-icon {
    display: flex;
    align-items: center;
}
.nav:hover {
    box-shadow: 5px 30px 55px rgb(55, 55, 55/12%);
    border: 1px solid transparent;
    transform: translateY(-3px);
}
.panel {
    height: 40px;
    background: #83f4fd;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops {
    width: 70%;
    font-size: 0.85rem;
    cursor: pointer;
}
.panel-ops p {
    display: inline;
    margin-left: 15px;
}
.panel-search {
    display: flex;
    background-color: #83f4fd;
    width: 300px;
    height: 40px;
    border: none;
}
.search-input {
    width: 600px;
    background-color: #0b9dc9;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #0b9dc9;
}
.hero-section {
    position: relative;
    width: 100%;
    background-image: url("img/Hero\ img.jpg");
    min-height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}
.hero-content {
    z-index: 888;
    color: white;
    display: flex;
    justify-content:space-between;
    width: 60%;
    margin-top: 20px;
    
}
.hero-msg  {
    color: #fff;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 1px;
    width: 60%;
    margin-bottom: 40px;
}
.hero-msg h3 {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 40px;
    float: left;
}
.hero-msg p{
    margin-bottom: 65px;
    float: left;
}
.hero-msg a {
    background-color: #0B9DC9;
    padding: 10px 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    float: left;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.main {
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-ops {
    width: 70%;
    font-size: 0.85rem;
}
.main-ops p {
    display: inline;
    font-weight: 600;
    margin-left: 10px;
    flex-direction: row;
}
.first-msg  {
    color: #000;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.5px;
    width: 60%;
    margin-bottom: 40px;
    border-bottom: #0B9DC9 dotted thin;
}
.first-msg h1 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 40px;
}
.first-msg p{
    margin-bottom: 65px;
    font-size: 0.85rem;
    font-weight: 100;
}
.hero-img {
    height: 10%;
    width: 20%;
    float: right;
    top: 20%; 
    margin-bottom: 100px;
}
.second-msg  {
    color: #000;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.5px;
    width: 80%;
    margin-bottom: 40px;
    border-bottom: #0B9DC9 dotted thin;
}
.second-msg h1 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 40px;
}
.second-msg p{
    margin-bottom: 45px;
    font-size: 0.85rem;
    font-weight: 100;
}
.second-msg ul {
    margin-bottom: 40px;
    font-size: 0.85rem;
    font-weight: lighter;
}
h2 {
    color: #16c5ff;
}
.contact-right {
    float: right;
    margin-top: 45px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .navbar, .panel, .hero-section {
        flex-direction: column;
        text-align: center;
    }
    .hero-section .content, .hero-section .hero-msg {
        max-width: 100%;
    }

    .help-form {
        position: static;
        width: auto;
        margin: 1rem 0;
    }
}
.third-msg  {
    color: #000;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.5px;
    width: 80%;
    margin-bottom: 40px;
    border-bottom: #0B9DC9 dotted thin;
}
.third-msg h1 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 40px;
}
.third p{
    margin-bottom: 45px;
    font-size: 0.85rem;
    font-weight: 100;
}
.third-msg ul {
    margin-bottom: 40px;
    font-size: 0.85rem;
    font-weight: lighter;
}
.fourth-msg  {
    color: #000;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.5px;
    width: 80%;
    margin-bottom: 40px;
    border-bottom: #0B9DC9 dotted thin;
}
.fourth-msg h1 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 40px;
}
.fourth-msg p{
    margin-bottom: 45px;
    font-size: 0.85rem;
    font-weight: 100;
}
.fourth-msg ul {
    margin-bottom: 40px;
    font-size: 0.85rem;
    font-weight: lighter;
}
.fifth-msg  {
    color: #000;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.5px;
    width: 80%;
    margin-bottom: 40px;
    border-bottom: #0B9DC9 dotted thin;
}
.fifth-msg h1 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 40px;
}
.fifth-msg p{
    margin-bottom: 45px;
    font-size: 0.85rem;
    font-weight: 100;
}
.fifth-msg ul {
    margin-bottom: 40px;
    font-size: 0.85rem;
    font-weight: lighter;
}
.sixth-msg  {
    color: #000;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.5px;
    width: 80%;
    margin-bottom: 40px;
    border-bottom: #0B9DC9 dotted thin;
}
.sixth-msg h1 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 40px;
}
.sixth-msg p{
    margin-bottom: 45px;
    font-size: 0.85rem;
    font-weight: 100;
}
.sixth-msg ul {
    margin-bottom: 40px;
    font-size: 0.85rem;
    font-weight: lighter;
}
.btn {
    background: rgb(252, 252, 252);
    margin-top: 0;
}
.btn h1 {
    margin-left: 44px;
    margin-top: 44px;
    padding: 33px;
    align-items: center;
}
.details p {
    font-size: 0.55rem;
    padding-left: 13px;
    float: right;
    height: 75%;
    width: 90px;
}
.btn button {
    width: 900px;
    height: 50px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 11px;
    margin-left: 133px;
    font-size: 0.85rem;
}
h1 {
    align-items: center;
    display: flex;
    justify-content: center;
}
.patient-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
}
.box {
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.msg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-img {
    height: 200px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}
h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 0.85rem;
}
.card .crd img {
    border: 2px dashed red;
    width: 320px;
    height: 220px;
    border-radius: 6px;
    margin-top: 55px;   
}
.msg a {
    color: red;
    text-decoration: underline;
}
.text {
    background-color: #0b9dc9;
    color: white;
    height: 200px;
    align-items: center;
}
h4 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}
h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}
.text a {
    background-color: #bec2c4;
    padding: 5px 5px;
    height: 20px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    align-items: center;
    align-content: center;
}
.text P {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}


ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.logo {
    background-image: url("img/Logo.jpg");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel3 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.75rem;
    text-align: center;
}
.copyright {
    padding-top: 5px;
}